In [3]:
import pandas as pd

#### Creating DataFrame

In [4]:
df = pd.DataFrame({
    'brand': ['nike', 'nike', 'puma', 'lee', 'nike'],
    'style': ['shoes', 'shoes', 'cap', 'jeans', 'pack'],
    
})

In [6]:
df.head()

  brand  style
0  nike  shoes
1  nike  shoes
2  puma    cap
3   lee  jeans
4  nike   pack

#### Checking duplicate values in data set

In [16]:
df.duplicated(keep='first')

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [21]:
# Identifying the duplicate rows
df[df.duplicated(keep=False)]

  brand  style
0  nike  shoes
1  nike  shoes

#### cheking duplicate values in a specific column

In [10]:
df['brand'].duplicated(keep='first')

0    False
1     True
2    False
3    False
4     True
Name: brand, dtype: bool

### Dropping duplicate rows from the data set

In [23]:
df=df.drop_duplicates()

In [24]:
df.head()

  brand  style
0  nike  shoes
2  puma    cap
3   lee  jeans
4  nike   pack